{% extends 'base.html.twig' %}

{% block card_title %}{{ 'actions.edit'|trans }} {{ 'tracker.tracker'|trans }}{% endblock %}

{% block card_body %}
    {{ include('tracker/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
{% block sidebar %}
    <a href="{{ path('app_tracker_index') }}" class="btn btn-link">{{ 'actions.back'|trans }}</a>
    {{ include('tracker/_delete_form.html.twig') }}
{% endblock %}