{% extends 'base.html.twig' %}

{% block title %}Tracker index{% endblock %}

{% block body %}
    <h1>Tracker index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Duration</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tracker in trackers %}
            <tr>
                <td>{{ tracker.id }}</td>
                <td>{{ tracker.name }}</td>
                <td>{{ tracker.duration }}</td>
                <td>
                    <a href="{{ path('app_tracker_show', {'id': tracker.id}) }}">show</a>
                    <a href="{{ path('app_tracker_edit', {'id': tracker.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tracker_new') }}">Create new</a>
{% endblock %}
