{% extends 'base.html.twig' %}

{% block card_title %}{{ 'actions.new'|trans }} {{ 'tracker.tracker'|trans }}{% endblock %}

{% block card_body %}
    {{ include('tracker/_form.html.twig') }}

{% endblock %}
{% block sidebar %}
    <a href="{{ path('app_tracker_index') }}" class="btn btn-link">{{ 'actions.back'|trans }}</a>
{% endblock %}
