{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('tinymce') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('tinymce') }}
{% endblock %}
{% block card_title %}{{ 'actions.edit'|trans }} {{ 'braindump.braindump'|trans }}{% endblock %}

{% block card_body %}
    {{ include('braindump/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
{% block sidebar %}
    <a href="{{ path('app_braindump_index') }}">{{ 'actions.back'|trans }}</a>
    {{ include('braindump/_delete_form.html.twig') }}

{% endblock %}
