{% extends 'base.html.twig' %}

{% block card_title %}{{ 'actions.new'|trans }} {{ 'project.project'|trans }}{% endblock %}


{% block card_body %}

    {{ include('project/_form.html.twig') }}

{% endblock %}
{% block sidebar %}
    <a href="{{ path('app_project_index') }}">{{ 'actions.back'|trans }}</a>
{% endblock %}
